* {
    box-sizing: border-box;
}

:root {
    --font-heading : "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size  : 1.6rem;
}

/* Common */
.main-content {
    width    : 1170px;
    max-width: calc(100% - 48px);
    margin   : 0 auto;
}

.heading {
    color      : #171100;
    font-family: var(--font-heading);
    font-weight: 700;

}

.heading.lv1 {
    font-size     : 5.8rem;
    line-height   : 1.26;
    letter-spacing: -1.16px;
}

.heading.lv2 {
    font-size     : 3.8rem;
    line-height   : 1.17;
    letter-spacing: -0.76px;
}

.heading.lv3 {
    font-size  : 1.8rem;
    line-height: 1.17;
}

a {
    text-decoration: none;
}

.btn {
    display      : inline-block;
    min-width    : 118px;
    padding      : 0 16px;
    color        : #FFF;
    text-align   : center;
    font-size    : 1.6rem;
    font-weight  : 600;
    border-radius: 999px;
    background   : #171100;
    line-height  : 50px;
}

.btn:hover {
    opacity: 0.8;
}

.line-clamp {
    display           : -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow          : hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2
}

.word-break-all {
    word-break: break-all;
}

/* Header */
.header {

    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top     : -28px;
    z-index : 1;
}

.header .body {
    display    : flex;
    align-items: center;
    padding    : 36px 0 8px;
}


.navbar {
    margin-left: auto;
}

.navbar ul {
    display: flex;

}

.navbar a {
    position   : relative;
    color      : #5F5B53;
    font-size  : 1.6rem;
    font-weight: 400;
    padding    : 8px 21px;
}

.navbar a:hover,
.navbar li.active a {
    color         : #171100;
    font-size     : 1.6rem;
    text-shadow   : 1px 0 0 currentColor;
    /* font-weight: 600; */

}

.navbar li.active a::after {
    position     : absolute;
    content      : "";
    width        : 12px;
    height       : 2px;
    border-radius: 1px;
    background   : #171100;
    left         : 21px;
    bottom       : 6px;

}

.header .action-btn {
    min-width: 144px;

}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding   : 56px 0 65px;
    background: #FFFCF4;

}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width   : 48%;
}


.hero .media-block .img {
    width        : 470px;
    height       : 685px;
    object-fit   : cover;
    border-radius: 20px;
    display      : block;
}

.hero .hero-summary {
    position     : absolute;
    right        : 0;
    bottom       : 48px;
    width        : 270px;
    padding      : 24px;
    border-radius: 12px;
    background   : #FFF;
    box-shadow   : 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display    : flex;
    align-items: center;
}

.hero-summary .item .icon {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 48px;
    height         : 48px;
    border-radius  : 50%;
    background     : #FFF9E8;

}

.hero-summary .item .info {
    margin-left: 16px;
}

.hero-summary .label {
    color      : #5F5B53;
    font-size  : 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero-summary .title {
    color      : #171100;
    font-size  : 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero-summary .item:nth-child(2) {
    margin: 22px 0;
}

.hero-summary .item:nth-child(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-child(3) .icon {
    background: #EBEAFF;
}

.hero .content-block {
    padding: 64px 0 0 130px;
    width  : 52%;
}



.hero .desc {
    color      : #5F5B53;
    font-size  : 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-top : 22px;
}

.hero .cta-group {
    display    : flex;
    align-items: center;
    margin     : 38px 0 48px;

}

.hero-cta {
    min-width  : 180px;
    line-height: 64px;
    background : var(--primary-color);
}

.hero .watch-video {
    display    : flex;
    align-items: center;
    border     : none;
    margin-left: 28px;
    background : #FFFCF4;
    cursor     : pointer;
}

.hero .watch-video .icon {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-right   : 14px;
    width          : 40px;
    height         : 40px;
    background     : #fff;
    border-radius  : 50%;
    box-shadow     : 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color      : #171100;
    font-size  : 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats strong {
    color       : #171100;
    font-family : var(--font-heading);
    font-size   : 4.4rem;
    font-weight : 700;
    line-height : 1.23;
    margin-right: 8px;
}

.hero .stats strong:nth-child(2) {
    margin-left: 28px;
}

/* Popular */
.popular {
    padding   : 65px 0;
    margin-top: 135px;
}

.popular-top {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.popular-top .desc {
    color      : #5F5B53;
    font-size  : 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-top : 16px;
    width      : 458px;
}

.popular .controls-right {
    display: flex;
    gap    : 14px;
}

.popular .control-btn {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 40px;
    height         : 40px;
    border         : 1px solid var(--primary-color);
    border-radius  : 50%;
    color          : var(--primary-color);
    background     : #FFF;
}

.popular .control-btn:hover {
    color     : #fff;
    background: var(--primary-color);
}

.popular .courses-list {
    display   : flex;
    gap       : 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex         : 1;
    border-radius: 12px;
    border       : 1px solid #E2DFDA;
    background   : #FFF;
    overflow     : hidden;
    /* transition: box-shadow 0.3s ease; */
    /* Hiệu ứng đổ bóng */
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow  : 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width        : calc(100% + 2px);
    height       : 278px;
    margin       : -1px;
    object-fit   : cover;
    border-radius: 12px 12px 0px 0px;
    transition   : transform 0.3s ease;
    /* Hiệu ứng mượt khi zoom */
}

.course-item .thumb:hover {
    transform    : scale(1.05);
    /* Phóng to hình ảnh khi hover */
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
    /* Đổ bóng khi hover */
}

.popular .course-item .info {
    margin: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.popular .course-item .title a {
    color        : #171100;
    font-size    : 1.8rem;
    font-weight  : 600;
    line-height  : 1.66;
    padding-right: 6px;
}

.popular .rating .value {
    color      : #FEA31B;
    font-size  : 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 6px;
}

.popular .course-item .desc {
    color      : #5F5B53;
    font-size  : 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    margin     : 6px 0 12px;
}


.popular .foot .price {
    color      : #171100;
    font-size  : 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .foot button {
    border: none;
}

.popular .foot button:hover {
    color     : #fff;
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    background: #2E2100;
    padding   : 96px 0;
}

.feedback-item {
    display        : flex;
    justify-content: space-between;
}

.feedback-item .avatar {
    width        : 72px;
    height       : 72px;
    border-radius: 50%;
    object-fit   : cover;
}

.feedback-item .info-left .title {
    margin-top : 18px;
    color      : #F7F7F7;
    font-family: var(--font-heading);
    font-size  : 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.feedback-item .info-left .desc {
    margin     : 4px 0 28px;
    color      : #BFBCB2;
    font-size  : 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.feedback-item .info-left .dots {
    display: flex;
}

.feedback-item .info-left .dot {
    width        : 6px;
    height       : 6px;
    border-radius: 50%;
    background   : #634700;
    margin-right : 6px;
    cursor       : pointer;

}

.feedback-item .info-left .dot.active {
    background: var(--primary-color);
    cursor    : default;
}

.feedback-item .content-right {
    width: 66%;
}

.feedback-item blockquote {
    color      : #FFF;
    font-size  : 2.6rem;
    font-style : italic;
    font-weight: 400;
    line-height: 1.54;
}

/* Features  */
